
.small-chart {
    max-height: 500px;
    max-width: 500px;
}

.big-chart {
    max-height: 1000px;
    max-width: 1000px;
}

.row-by-frequency, .row-by-virtual-frequency {

}

tr th,
tr td {
    min-height: 50px;
    min-width: 50px;
    border: 1px solid;
    text-align: center;
}
